@import "tailwindcss";

@theme {
  --color-elevation-0: #121417;
  --color-elevation-1: #2a2f34;
  --color-elevation-2: #1b1f23;
  --color-elevation-3: #343a40;

  --color-fg-primary: #4db6ac;
  --color-fg-secondary: #9aa4ad;

  --color-primary: #4db6ac;
  --color-secondary: #9aa4ad;
  --color-success: #16a34a;

  --spacing-input: 24px;
  --spacing-rootWidth: 280px;
  --spacing-appbar: 48px;
  --spacing-appbar-fill: calc(100vh - var(--spacing-appbar));
}

body {
  background-color: var(--color-elevation-1);
  color: var(--color-fg-primary);
}

h2 {
  @apply text-xl font-semibold
}

.input {
  @apply px-3 py-2 rounded-md
  /**/
  bg-elevation-2
  /**/
  text-fg-primary
  /**/
  placeholder:text-fg-secondary
  /**/
  border border-elevation-3
  /**/
  outline-none
  /**/
  transition-colors;
}

.input:focus {
  @apply border-fg-primary;
}
